<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.Dao.UserMapper">

    <select id="findUserByNickname" resultType="com.example.back.Entity.User">
        SELECT * FROM user WHERE nickname = #{nickname}
    </select>

    <insert id="registerUser">
        INSERT INTO user (nickname, password) VALUES (#{nickname}, #{password})
    </insert>

    <insert id="insertHistory">
        INSERT INTO history(level, time, money, user_id, is_game_over) VALUES (#{level}, #{time}, #{money}, #{user_id}, #{is_game_over})
    </insert>

    <select id="getHistoryByUserId" resultType="com.example.back.Entity.History">
        SELECT * FROM history WHERE user_id = #{user_id}
    </select>

</mapper>
